@use 'variables' as v;
@use 'mixins' as m;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,400;0,9..40,500;0,9..40,700;0,9..40,900;1,9..40,400&display=swap');

:root {
  --flare: url(../images/flare.svg);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;

  background-color: v.$background;
  color: v.$text;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

h1{
  font-size: 3.2rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

.input {
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  background-color: v.$secondary;
  color: v.$text;
  font-weight: 500;
  transition: background-color 150ms ease-in-out;

  &:focus {
    background-color: lighten(v.$secondary, $amount: 7);
    transition: background-color 200ms ease-in-out;
  }
}

.back-button {
  @include m.standartButton(v.$white, v.$primary, 1rem);
  height: min-content;
  width: min-content;
  margin: 2rem;
  @include m.movile {
    margin: 2rem 0 0 2rem;
  }
}