@use 'variables' as v;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,400;0,9..40,500;0,9..40,700;0,9..40,900;1,9..40,400&display=swap');

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;

  background-color: v.$blue;
  color: v.$softWhite;
}
// body {
// 	display: grid;
// 	grid-template-columns:
// 		[main-start] 0.5fr
// 		[break-start] 0.2fr
// 		[content-start] 2.5fr [content-end]
// 		0.2fr [break-end]
// 		0.5fr [main-end];

// 	grid-template-rows: auto;
// }

h1,
h2,
h3,
h4 {
  text-align: center;
}

h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
}

a {
	text-decoration: none;
}

.input {
		padding: 1rem;
		outline: none;
		border: none;
		border-radius: 0.5rem;
		margin-bottom: 2rem;
		background-color: v.$softWhite;
		color: v.$blue;
		font-weight: 500;
	}