@use 'variables' as v;

@mixin movile() {
  @media (max-width: 669px) {
    @content;
  }
}
@mixin tablet() {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin standartButton($color, $bgColor, $padding) {
  color: $color;
  background-color: $bgColor;
  
  width: 100%;
  margin: 0;
  padding: $padding;
  border: none;
  border-radius: 0.5rem;

  font-size: 2rem;
  font-weight: 500;
  text-align: center;

  transition: all 150ms;

  &:hover {
    transition: all 150ms;
    background-color: lighten($bgColor, $amount: 10);
    cursor: pointer;
  }
}
