@use 'variables' as v;
@use 'mixins' as m;

/* USER-MENU (DROP-MENU) */
.user-menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: none;
  background-blend-mode: overlay;
  border-radius: 1rem;
  position: absolute;

  top: 11rem;
  
  @include m.movile {
    top: 26rem;
  }

  // Drop-menu transitions
  transition: all 150ms ease-in-out;
  opacity: 0;
  max-height: 0;
  overflow: hidden;

  .user-menu__button--profile {
    @include m.standartButton(v.$text, v.$primary, 0.5rem 0.8rem);
  }
  .user-menu__button--settings {
    @include m.standartButton(v.$text, v.$secondary, 0.5rem);
  }
  .user-menu__button--logout {
    @include m.standartButton(v.$text, v.$accent, 0.5rem);
  }
  .user-menu__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
    border-radius: 1rem;
    width: auto;

    &:first-of-type {
      margin: 0;
    }
  }

  // Drop-menu transitions
  &.user-menu--showing {
    transition: all 300ms ease-in-out;
    padding: 1rem;
    max-height: 16rem;

    overflow: hidden;
    opacity: 1;
    z-index: 1;

    background-color: transparentize($color: v.$text, $amount: 0.7);
    backdrop-filter: blur(10px);
  }
}
