$moderateBlue: hsl(238, 40%, 52%);
$softRed: hsl(358, 100%, 59%);
$lightGrayishBlue: hsl(239, 57%, 85%);
$darkBlue: hsl(212, 24%, 26%);
$grayishBlue: hsl(211, 10%, 45%);

$softWhite: #f6faeb;
$blue: #5661C6;
$quiteDark: #202020;
$accent: #d6ff4e