@use '../base/variables' as v;

footer {
	grid-column: break-start / break-end;
	grid-row: auto;
}

.send-mensage {
	display: flex;
	gap: 2rem;

	padding: 2rem;
	margin: 1rem 0 3rem 0;

	overflow: visible;

	border-radius: 1rem;
	background-color: v.$white;

	textarea {
		flex: 1 0;

		background-color: v.$white;
		border: 2px v.$lightGray solid;
		border-radius: 0.5rem;
		outline: none;
		resize: none;

		height: 7rem;
		padding: 1rem;
		max-height: auto;

		font-size: 1.6rem;
		color: v.$grayishBlue;

		&:focus {
			outline: v.$moderateBlue solid 1px;
		}
	}

	.user-ppf {
		width: 3rem;
		height: 3rem;
	}

	.send-button {
		display: flex;
		align-items: center;

		padding: 2rem;
		min-width: 5rem;
		height: 1rem;

		background-color: v.$moderateBlue;
		border-radius: 0.7rem;

		color: v.$white;
		font-weight: 500;
		font-size: 1.5rem;

		transition: background-color 200ms;

		&:hover {
			transition: background-color 200ms;
			background-color: v.$lightGrayishBlue;
		}
	}
}
