@use '../base/variables' as v;

:root {
  --flare: url(../../src/images/flare.svg);
}

.landing-page {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .landig-page__title {
    text-align: left;
    font-weight: 500;
    font-size: 4.8rem;
    margin: 5.4rem 0 0 5.4rem;
    height: 30%;
  }
}
.landing-page__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .landing-page__paragraph {
    width: 50rem;
    font-size: 2.4rem;
  }

  .landing-page__link {
    text-transform: capitalize;
    position: relative;
    padding: 1rem;
    font-size: 2.4rem;
    color: v.$blue;
    border-radius: 1rem;
    font-weight: 500;
    background: rgb(250, 235, 239);
    background: linear-gradient(
      141deg,
      rgba(250, 235, 239, 1) 0%,
      rgba(86, 97, 198, 1) 100%
    );
    background-size: 30rem;
    background-position: right;

    // Flare in hover
    &::before {
      content: var(--flare);
      position: absolute;
      bottom: 75%;
      right: 95%;
      transform: rotateZ(0deg);
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }

    // Under line hover
    &::after {
      content: '';
      position: absolute;
      bottom: 1rem;
      left: 1.2rem;
      width: 85%;
      height: 0.1em;
      opacity: 0;
      transition: all 300ms;
      background-color: v.$blue;
      transform: scale(0);
      border-radius: 1rem;
    }
    &:hover {
      transition: all 300ms;
      background-position: left;

      // Flare
      &::before {
        content: var(--flare);
        position: absolute;
        bottom: 75%;
        right: 95%;
        transform: rotateZ(15deg);
        opacity: 1;
        transition: all 0.2s ease-in-out;
      }

      // Underline
      &::after {
        opacity: 1;
        transform: scale(1);
      }
    }
    transition: all 300ms;
  }
}
