@use '../base/variables' as v;
@use '../base/mixins' as m;

.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: v.$quiteDark;
}

.form {
  background-color: v.$blue;
  color: v.$softWhite;
  border-radius: 0.5rem;
  padding: 3rem;
  font-size: 2rem;
  margin: 3rem;
  width: 50rem;

  fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
  }

  label,
  .input[type='submit'] {
    font-weight: 500;
  }

  .form__submit {
    @include m.standartButton(v.$softWhite, v.$moderateBlue, 1rem);

    width: auto;
    @include m.movile {
      width: 100%;
    }
  }
  .errors {
    color: v.$softRed;
    font-weight: bold;
    text-align: justify;
    margin-bottom: 0.5rem;
    &:last-of-type {
      margin-bottom: 2rem;
    }
    &::before {
      content: '⚠️';
    }
  }
}

.form__paragraph {
  margin: 1.6rem 0 0 0;
  text-align: center;
  .form__link {
    color: v.$softWhite;
    font-weight: 500;
  }
}
