@use '../base/variables' as v;
@use '../base/mixins' as m;

.messages {
  display: grid;
  grid-template-columns: [break-start] 0.5fr [content-start] 2.5fr [content-end] 0.5fr [break-end];
  @include m.movile {
    grid-template-columns: [content-start] 1fr [content-end];
  }
}

.message {
  display: flex;
  justify-content: center;
  flex-direction: column;

  background-color: v.$white;
  color: v.$black;

  margin: 2rem 2rem 0 2rem;
  border-radius: 0.5rem;
  padding: 2rem;

  grid-area: content-start;
  grid-row: auto;

  position: relative;

  .message__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
  }
  .message__info--date {
    text-align: center;
    width: fit-content;
  }
  .message__content {
    @include m.tablet {
      margin-bottom: 4rem;
    }
  }
}

.user {
  display: flex;
  align-items: center;
  gap: 2rem;

  .user__ppf--message {
    width: 5rem;
    height: 5rem;

    object-fit: cover;
    border-radius: 50%;
  }
  .user__name {
    width: min-content;
    text-align: justify;
  }
  .user__name--you {
    background-color: v.$moderateBlue;
    padding: 0.2rem 0.2rem;
    border-radius: 0.5rem;
    height: min-content;
    color: v.$white;
    text-align: center;
    font-weight: normal;
    padding: .3rem 1rem;
  }
}

.message__actions {
  display: flex;
  gap: 1rem;

  img {
    width: 1.6rem;
  }

  .message__actions--reply,
  .message__actions--delete,
  .message__actions--edit {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    gap: 1rem;
    transition: all 200ms;
    padding: 1rem;
    border-radius: .5rem;

    &:hover {
      cursor: pointer;
      background-color: transparentize(v.$moderateBlue, $amount: 0.7);
    }
  }

  .message__actions--reply {
    color: v.$moderateBlue;
    &::after {
      content: 'Reply';
    }
  }
  .message__actions--delete {
    color: v.$softRed;
    &::after {
      content: 'Delete';
    }
  }
  .message__actions--edit {
    color: v.$moderateBlue;
    &::after {
      content: 'Edit';
    }
  }

  @include m.tablet {
    position: absolute;
    bottom: 1.2rem;
    right: 1rem;
  }
}
