@use '../base/mixins' as m;
@use '../base/variables' as v;

.topics-nav {
	.welcome-mesaje {
	  width: 17.4rem;
	}
	
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
  position: relative;

  @include m.movile {
    flex-direction: row;
    position: inherit;
    .welcome-mesaje {
      width: auto;
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    .user-ppf {
      object-fit: cover;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
    }
  }
}
