@use '../base/mixins' as m;
@use '../base/variables' as v;

.topics-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	// flex-direction: column;

	@include m.movile {
		// flex-direction: row;
	}

	.actions {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 2rem;

		@include m.movile {
			flex-direction: row;
		}

		a {
			@include m.standartButton(v.$softWhite, v.$softRed, 1.6rem, 1rem);
			display: flex;
			justify-content: center;
		}
        
		.user-ppf {
			object-fit: cover;
			width: 5rem;
			height: 5rem;
			border-radius: 50%;
		}
	}
}
